
.total-card-cont {
    background-color: var(--light-color);
    width: 98%;
    border-radius: 10px;
}


.total-card-details {
    padding: 8% 5% 5% 5%; 
}

.value-detail {
    font-size: 1.3em;
    font-weight: bold;
}

.total-label {
    text-transform: capitalize;
    color: var(--grey-color);
}

@media (min-width: 320px) and (max-width: 480px) {
    .value-detail {
        font-size: 0.5em;
        margin-left: 25%;
    }

    .total-label {
       font-size: 0.4em;
       margin-left: 25%;
    }


    .icon-card {
        background-color: var(--primary-color-transparent);
        padding: 5% 5% 5% 5%;
        margin: 1% 0% 0% 25%;
        width: 50%;
        border-radius: 9px;
    }

    .card-bg-1 {
        background-color: #ef78bd41 !important;
    }

    .card-bg-2 {
        background-color: #78b1ef63 !important;
    }

    .card-bg-3 {
        background-color: #78efb12a !important;
    }

    .dollar-sign {
        font-size: 13px;
    }

    .dollar-sign-2 {
        font-size: 13px;
    }

    .project-sign {
        font-size: 13px;
    }

    .employee-sign {
        font-size: 13px;
    }
}
